$lightblue: #5493FF;
$black: #35363A;

$font-light: 300;
$font-bold: 700;

$body-bg: $black;
$body-color: white;


@import "../node_modules/bootstrap/scss/bootstrap";

//Animación del FadeIn para el Landing
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

//Animación del Flame Pulses para el logo en about
@keyframes flickerAnimation {
  /* flame pulses */
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0rem;
  padding: 0rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  box-sizing: border-box;
}


h1{
  font-size: 48px;
  color: $lightblue;
  font-weight: $font-bold;
}
h2{
  font-size: 32px;
  font-weight: $font-bold;
}
p{
  font-size: 15px !important;
}
a{
  font-size: 12px;
  font-weight: $font-light;
  color: white !important;
}
li{
  list-style-type: none;
}

.active{
  color: $lightblue;
}


.navbar {
  position: fixed;
  top: 0%;
  width: 100vw;
  z-index: 1000;
  background-color: $black;
  box-shadow: 0px 0px 5px 5px rgba($color: $black, $alpha: 1.0);
}

.navbar-collapse{
  flex-grow: 0 !important;
}

/*FadeInAnimation content*/
.landing, .about, .skills{
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.carousel-control{
  &-prev{
    width: 2% !important;
  }
  &-next{
    width: 2% !important;
  }
}

//CONTACT
.contact {  
  &_icon {
    display: flex;
    justify-content: flex-end;
    padding-right: 5rem;
    & {
        -webkit-animation: mover 1s infinite alternate;
        animation: mover 1s infinite alternate;
    }
    @-webkit-keyframes mover {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-10px);
      }
    }
    @keyframes mover {
      0% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(-10px);
      }
    }
  }
}

//RESPONSIVE MOBILE
@media screen and (max-width: 426px) { 
  h1{
    font-size: 26px;
  }
  h2{
    font-size: 18px;
  }
  p{
    font-size: 16px
  }
  a{
    font-size: 14px;
  }
}
